@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="playerlist">

        @for(int i=0; i<playerPawn.playerControllers.Count; i++)
        {
            
            <div class="playername" style= "background-color: @playerPawn.playerColours[i].Hex">


                 <p> @playerPawn.playerControllers[i].Network.OwnerConnection.DisplayName </p>



            </div>


        }




    </div>




    <div class="jumpbuttonholder">


        @for (int i = 0; i < playerPawn.playerControllers.Count; i++)
        {
            @if (playerPawn.playerControllers[i].forwardInput == 1)
            {
                <div class="buttonoutline" style="border: @playerPawn.playerColours[i].Hex; height: @(124+ (24 * i))px;width: @(124+ (24 * i))px; bottom: @(32 + 12*(playerPawn.playerControllers.Count-i));border-radius:@(32+i*12);">
                </div>


            }

 


        



        }

        <div class="movementbutton" style = "bottom: @(32 + 12*(playerPawn.playerControllers.Count+1));">

            <p> 🦘 </p>

        </div>




    </div>



    <div class="movementbuttonsholder">

        <div class ="movementbuttons">

            <div class="movementbutton">
                <p> ☝️ </p>
            </div>

        </div>

        <div class="movementbuttons">

            <div class="movementbutton">
                <p> 👈 </p>
            </div>
            <div class="movementbutton">
                <p> 👇 </p>
            </div>
            <div class="movementbutton">
                <p> 👉 </p>
            </div>

        </div>

        <div class="bottomrowmovementholder">

            <div class="bottomrowbutton">
            </div>
            <div class="bottomrowbutton">
            </div>
            <div class="bottomrowbutton">
            </div>

        </div>

    </div>
	
</root>

@code
{

    [Property] PlayerPawn playerPawn { get; set; }

    protected override int BuildHash()

    {
        //return System.HashCode.Combine(playerPawn.playerControllers);
        return System.HashCode.Combine(Time.Delta);// DON'T DO THIS IN THE FUTUREEEE

    }
        
}
